blinker==1.9.0
click==8.3.1
Flask==3.1.2
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
largestinteriorrectangle==0.2.1
llvmlite==0.45.1
MarkupSafe==3.0.3
-e git+ssh://git@github.com/chunting-linct/insect_egg_counter.git@beec580f82350a5b24ddf39281b9cff815342202#egg=my_package
numba==0.62.1
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==12.0.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.1
stitching==0.6.1
Werkzeug==3.1.3
